#contact{
    background-color: #111319;
    .contact-me{
        .item{
            h6{
                color: #FC4319;
            }
            h2{
            color: white;
            font-size: 55px;
            position: relative;
            &::before{
                content:"";
                position: absolute;
                left: 50%;
                bottom: 0;
                margin-bottom: -20px;
                width: 150px;
                height: 1px;
                background-color: #50535a;
                transform: translateX(-50%);  
            }
            }
        }
    }
    .with-me{
        padding: 30px;
        height: 150px;
        display: flex;
        background-color: #2c2f3d;
        margin-top: 60px;
        .icon{
            position: relative;
            border: 2px solid #FC4319;
            height: 100px;
            width: 100px;
            border-radius: 100%;
            transition: all .3s ease;
            &:hover{
                background-color: #FC4319;
                .white{
                    opacity: 1;
                    visibility: visible;

                }
            }
            img{
                width: 50px;
            }
            .orange{
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
            }
            .white{
                position: absolute;
                left: 50%;
                top: 50%;
                opacity: 0;
                visibility: hidden;
                transform: translate(-50%,-50%);
            }
        }
        .item{
            margin-left: 20px;
            margin-top: 20px;
            span{
                font-weight: 600;
                font-size: 22px;
                color: white;
            }
            p{
                font-size: 18px;
                color: #a7afbd;
            }
        }
    }
}