#resume{
    padding: 120px 0;
    background-color: #2c2f3d;
    .item{
        h6{
            color: #FC4319;
        }
        h2{
            position: relative;
            color: white;
            font-size: 50px;
            &::before{
                content: "";
                    position: absolute;
                    left: 50%;
                    bottom: 0;
                    margin-bottom: -20px;
                    width: 120px;
                    height: 1px;
                    background-color: #50535a;
                    transform: translateX(-50%);
            }
        }
    }
    .detailed{
        .education{
            border-right: 1px solid #50535a;
            margin-left: 57px;
            h2{
                margin: 40px 0;
                color: white;
                font-size: 38px;
            }
            h4{
                color: white;
                a{
                    text-decoration: none;
                    color: #FC4319;
                    margin-left: 200px;
                    border: 2px solid #FC4319;
                    padding: 6px 17px;
                    border-radius: 10px;                
                    }
                }
                h5{
                    color: white;
                    margin: 40px 0;
                }
            }
            .experience{
                margin-left: 21px;
                margin-right: 57px;
                h2{
                    margin: 40px 0;
                    color: white;
                    font-size: 38px;
                }
                h4{
                    color: white;
                    a{
                        text-decoration: none;
                        color: #FC4319;
                        margin-left: 200px;
                        border: 2px solid #FC4319;
                        padding: 6px 17px;
                        border-radius: 10px;                
                        }
                    }
                    h5{
                        color: white;
                        margin: 40px 0;
                    }
                }
        }
    }